#root {
  padding: 0rem;
  margin: 0 auto;
  text-align: center;
  --main-bg-color: #1dd8789b;
  --alt-bg-color: #021130;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
#info {
  font-size: 2em;
  line-height: 1.1;
}

#green{
  color: var(--main-bg-color);
}

.colored{
  background-color: var(--alt-bg-color);
  color: white;
  
}

.section{
  margin-top: 50px;
  padding-top: 100px;
}
.section-title{
  font-size: 2.5em;
  margin-bottom: 100px;
}
.vline {
  height: 105%;
  width: 1px;
  border: none;
  border-right: solid 0.5px white;
  z-index: 10;
  padding-bottom: 5%;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


